/* Import font-family */
@import url("https://fonts.googleapis.com/css2?family=Jomolhari&family=Sofia&display=swap");
/* Clearing CSS */
*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jomolhari";
}

:root {
  --font-family-latin: "Sofia";
}

/* Home page */
.MyBg {
  background-color: #ffff;
  max-width: 100%;
  min-height: 100vh;
  width: 100%;
  height: 100vh;
}

.navbar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.Hero-bg1 {
  background-image: url("./assets/IMG/Bg/bg1.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  height: 100vh;
}

.Hero-bg2 {
  background-image: url("./assets/IMG/Bg/bg2.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  height: 100vh;
  max-width: 100%;
}

.Hero-bg3 {
  background-image: url("./assets/IMG/Bg/bg3.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  height: 100vh;
}

.luxury {
  text-shadow: #222;
  font-size: 5vmax;
}

.fashion {
  font-family: var(--font-family-latin);
  font-size: 6vmax;
}

.list-category {
  letter-spacing: 2px;
  flex-direction: column;
  min-height: 100vh;
}

.list-category img {
  width: 366px;
}
/* Home end */

/* About page */
.about-page {
  background-color: #ffff;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  min-height: 100vh;
  position: relative;
}

.about {
  width: inherit;
  height: inherit;
  max-width: inherit;
  min-height: inherit;
  position: inherit;
}

.about span {
  color: #9c881e;
}

.img1 img {
  width: 300px;
  border: 1px solid #222;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  animation: img-animasi-1 3s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

.img2 img {
  width: 300px;
  border: 1px solid #222;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  position: inherit;
  animation: img-animasi-2 4s;
  animation-fill-mode: both;
  animation-delay: 3s;
}

@keyframes img-animasi-1 {
  0% {
    transform: translateY(-100vmax) rotateY(-90deg);
    opacity: -2;
  }
  50% {
    transform: translateY(10%) rotateY(180deg);
    opacity: -2;
  }
}

@keyframes img-animasi-2 {
  0% {
    transform: translateY(-100vmax) rotateY(-90deg);
    opacity: -2;
  }
  70% {
    transform: translateY(12%) rotateY(180deg);
    opacity: -2;
  }
}

/* About end */

/* Contact page */
.contact-page {
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  position: relative;
}

.contact-page .input-control {
  border: 2px solid #222;
  box-shadow: none;
}

.contact-page .input-suggestion {
  border: 2px solid #222;
  width: 100%;
  height: 200px;
  box-shadow: none;
}
/* Contact end */

@media screen and (max-width: 1366px) {
  html {
    font-size: large;
  }

  .list-category img {
    animation: zoomInOnHover 2s;
    animation-fill-mode: both;
    animation-delay: 2s;
  }

  @keyframes zoomInOnHover {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    40% {
      transform: scale(1.1);
      opacity: 0;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.1;
    }
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: small;
  }

  /* home-page-media-hp */
  .navbar {
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }

  .Hero-bg1 {
    background-image: url("./assets/IMG/Bg/bg1-media-hp.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 100%;
  }

  .Hero-bg2 {
    background-image: url("./assets/IMG/Bg/bg2-media-hp.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 100%;
  }

  .Hero-bg3 {
    background-image: url("./assets/IMG/Bg/bg3-media-hp.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 100%;
  }

  .contain {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 100% #222;
    letter-spacing: normal;
    flex-direction: column;
    gap: 10px;
  }

  .contain .luxury {
    font-size: 1.3em;
  }

  .contain .fashion {
    font-size: 1.3em;
  }

  .list-category img {
    width: 300px;
    transition: all 2s ease-in-out;
  }

  /* home-page-media-hp-end */

  /* about-page-media-hp */

  .about-page {
    position: relative;
    padding-top: 10%;
  }

  .img1 img {
    width: 280px;
    border: 1px solid #222;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    inset: 0;
    animation: img-animasi-1 3s;
    animation-fill-mode: both;
    animation-delay: 2s;
  }

  .img2 img {
    width: 280px;
    border: 1px solid #222;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: inherit;
    animation: img-animasi-2 4s;
    animation-fill-mode: both;
    animation-delay: 3s;
  }

  @keyframes img-animasi-1 {
    0% {
      transform: translateX(-100vmax) rotateX(-90deg);
      opacity: -2;
    }
    50% {
      transform: translateX(30%) rotateX(180deg);
      opacity: -2;
    }
  }

  @keyframes img-animasi-2 {
    0% {
      transform: translateX(-100vmax) rotateX(-90deg);
      opacity: -2;
    }
    70% {
      transform: translateX(12%) rotateX(180deg);
      opacity: -2;
    }
  }
  /* about-page-media-hp end */
}
