/* Import font-family */
@import url("https://fonts.googleapis.com/css2?family=Jomolhari&family=Sofia&display=swap");
/* Clearing CSS */
*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jomolhari";
}

:root {
  --font-family-latin: "Sofia";
}

.MyBg {
  background-color: #ffff;
  max-width: 100%;
  width: 100%;
  height: 100vh;
}

.navbar {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 9999;
}

.Hero-bg1 {
  background-image: url("./assets/IMG/Bg/bg1.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 100%;
  width: 100%;
  height: 100vh;
}

.Hero-bg2 {
  background-image: url("./assets/IMG/Bg/bg2.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 100%;
  width: 100%;
  height: 100vh;
}

.Hero-bg3 {
  background-image: url("./assets/IMG/Bg/bg3.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 100%;
  width: 100%;
  height: 100vh;
}

.luxury {
  text-shadow: #222;
}

.fashion {
  font-family: var(--font-family-latin);
}

.list-category {
  letter-spacing: 2px;
  flex-direction: column;
  min-height: 100vh;
}

img {
  width: 366px;
}

@media screen and (max-width: 1366px) {
  html {
    font-size: large;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: x-small;
  }

  .navbar {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 9999;
  }

  .section-menu-1 {
    background-color: none;
    border-radius: none;
  }

  .Hero-bg1 {
    background-image: url("./assets/IMG/Bg/bg1-media-hp.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 100%;
  }

  .Hero-bg2 {
    background-image: url("./assets/IMG/Bg/bg2-media-hp.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 100%;
  }

  .Hero-bg3 {
    background-image: url("./assets/IMG/Bg/bg3-media-hp.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 100%;
  }

  .contain {
    display: flex;
    align-self: center;
    justify-self: center;
    inset: 0;
    letter-spacing: normal;
    flex-direction: column;
    text-shadow: 500px #222;
    gap: 10px;
  }

  .luxury {
    font-size: 2em;
  }

  .fashion {
    font-size: 2em;
  }

  img {
   margin: 0 20px;
  }
}
